

		<div>
			
		</div>
		<div id="item_tabs_form_section_content" style="">
			<div class="entry-edit-head">
			    <h4 class="icon-head head-edit-form fieldset-legend">Listing Information</h4>
			    <div class="form-buttons"></div>
			</div>
			<div class="fieldset " id="item_form">
			<div class="hor-scroll">
			<input id="id" name="id" value="<?php echo $this->getId()?>" type="hidden">
				<table cellspacing="0" class="form-list">
						<tbody>
							<tr>
								<td class="label"><label for="sku">SKU <span class="required">*</span></label></td>
								<td class="value"><input id="sku" name="sku" value="<?php echo $this->getSku()?>" class="input-text" type="text"></td>
								<td class="link" style="padding-top:10px"><?php echo $this->getProductLinkBySku($this->getSku())?></td>
							</tr>
							<?php foreach($this->getVariations() as $variation):?>
								<?php $sku = $variation['seller_custom_field']; ?>
								<?php $id = $variation['id']; ?>
								<tr>
									<td class="label"><label for=""><?php echo $this->getCombinations($variation);?></label></td>
									<td class="value"><input style="margin-top: 15px;" id="variation_" name="variation[<?php echo $id?>]" value="<?php echo $sku?>" class="input-text" type="text"></td>
									<td class="link" style="padding-top:20px"><?php echo $this->getProductLinkBySku($sku)?></td>
								</tr>
							<?php endforeach;?>
						</tbody> 
					</table>
				</div>
			</div>
		</div>


<?php
// echo $this->getFormHtml();

//echo $this->getVariationsHtml();
?>