<?php
/**
 * 
 * @category    Ulula
 * @package     Ulula_Mercadolibre
 * @copyright   Copyright (c) 2017 Ulula IT (http://ulula.net)
 * @author      Gaston De Marsico <gdemarsico@ulula.net>
 */
?>
<?php $_helper = Mage::helper('ulula_mercadolibre');?>
<?php $_helperProduct = Mage::helper('ulula_mercadolibre/product');?>
<?php $_product = Mage::registry('current_product');?>
<?php $_category = $_helper->getMeliCategory($_product);?>
<?php $canList = $this->canList();?>
<?php $url = Mage::helper('adminhtml')->getUrl('adminhtml/categories/index',array('pid'=>$_product->getId()));?>
<?php $title = $this->__('Set category for ').$_product->getName();?>
<?php $item = Mage::getModel('ulula_mercadolibre/item')->load($_product->getSku(), 'sku')?>
<?php if($this->canList()): ?>
		<?php if($item->getMeliId()): ?>
			<h3><?php echo $this->__('Publication Id: ') .$item->getMeliId()?></h3>
		<?php endif?>
<?php else:?>
	<?php echo $this->__('This product cannot be listed in Mercadolibre. But It can be used as a variation.')?>
<?php endif?>
<div class="entry-edit">
	<div class="entry-edit-head">
	        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_helper->__('Mercadolibre Options') ?></h4>
	</div>
	<div class="fieldset fieldset-wide">
	<table cellspacing="0" class="form-list" id="table_mercadolibre">
		<tbody>
		<tr>
		    <td class="label"><label for="mercadolibre_category_id"><?php echo $_helper->__('Category') ?></label></td>
		    <td class="value">
		    
		    <input disabled id="mercadolibre_category_id_dis" name="mercadolibre_category_id_dis" style="width:20%!important" value="<?php echo $_category->getMeliCategoryId()?>" class=" input-text" type="hidden"/><input id="meli_category_id" name="product[meli_category_id]" value="<?php echo $_category->getMeliCategoryId()?>" type="hidden"/><span style="width:25%!important;padding-left:10px;">
		    <?php if($canList):?>
		    <button style="float:left;margin-right:5px" type="button" onclick="showPopup();"><?php echo $_helper->__('Select Category')?></button>
		<?php endif;?>
			<?php if($_category->getMeliCategoryId()):?>
		    <?php echo $_category->getCategoryName().' ('.$_category->getMeliCategoryId().')'?></span></td>	    
		    <?php endif;?>		
		</tr>
		<?php if($canList):?>
		<tr>
		    <td class="label"><label for="meli_publish"><?php echo $_helper->__('Publish') ?></label></td>
		    <td class="value"><?php echo $this->getPublishCombo()?></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>    			
		</tr>
		<tr>
		    <td class="label"><label for="meli_title"><?php echo $_helper->__('Title') ?></label></td>
		    <td class="value"><input id="meli_title" name="product[meli_title]" class=" input-text" value="<?php echo $_helperProduct->getTitle($_product)?>" type="text"/></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>    			
		</tr>
		<tr>
		    <td class="label"><label for="meli_description"><?php echo $_helper->__('Description') ?></label></td>
		    <td class="value"><textarea id="meli_description" name="product[meli_description]" class=" textarea" type="textarea"><?php echo $_helperProduct->getDescription($_product)?></textarea></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>    			
		</tr>
		<tr>
		    <td class="label"><label for="meli_additional_images"><?php echo $_helper->__('Additional Images') ?></label></td>
		    <td class="value"><textarea id="meli_additional_images" name="product[meli_additional_images]" class=" textarea" type="textarea"><?php echo $_helperProduct->getAddtionalImages($_product)?></textarea>
		    <p class="note"><?php echo $this->__('Comma separated url\'s')?></p></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td> 

		</tr>
		<?php $meliAttributes = $this->getMeliAttributes($_category)?>
		<?php foreach ($meliAttributes as $meliAttribute): ?>
			<tr>
				<td class="label"><label for="<?php echo $meliAttribute['code']?>"><?php echo $meliAttribute['label'] ?></label></td>
				<td class="value">
				<?php if ($meliAttribute['input'] == 'text'):?>
				<input id="<?php echo $meliAttribute['code']?>" name="product[<?php echo $meliAttribute['code']?>]" class=" input-text" value="<?php echo $meliAttribute['value']?>" type="text"/>
				<?php elseif ($meliAttribute['input'] == 'boolean' || $meliAttribute['input'] == 'select'):?>
					<select id="<?php echo $meliAttribute['code']?>" name="product[<?php echo $meliAttribute['code']?>]" class="select">
						<?php $selected = $_product->getData($meliAttribute['code'])?>
						<?php foreach ($meliAttribute['options'] as $option) : ?>
							<?php $selected = ($_product->getData($meliAttribute['code']) == $option['value'] ) ? 'selected="selected"': ''?>
							<option <?php echo $selected ?> value="<?php echo $option['value']?>">
								<?php echo $option['label']?>
							</option>
						<?php endforeach;?>
					</select>
			<?php endif;?>
				</td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>  
			</tr>
		<?php endforeach;?>
		<?php $attribute = $this->getConditionCombo()?>
		<tr>
		    <td class="label"><label for="<?php echo $attribute['code']?>"><?php echo $_helper->__($attribute['label']) ?></label></td>
		    <td class="value"><?php echo $attribute['input'] ?></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>    			
			</tr>
		<?php endif;?>
		</tbody>
	</table>
	
	<?php if($_product->getTypeId() != 'configurable'):?>
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $_helper->__('Mercadolibre Variations') ?></h4>
		<table cellspacing="0" class="form-list" id="table_mercadolibre">
		<tbody>
		<?php $variants = $this->getCategoryVariants($_category)?>
		<?php foreach ($variants as $variant): ?>
			<tr>
		    <td class="label"><label for="<?php echo $variant['code']?>"><?php echo $_helper->__($variant['label']) ?></label></td>
		    <td class="value"><?php echo $variant['input'] ?></td>	
		    <td class="scope-label"><span class="nobr">[GLOBAL]</span></td>    			
			</tr>
		<?php endforeach;?>
		</tbody>
		</table>
		<?php else:?>
			<note><?php echo $this->__('Set variations in children products') ?></note>
		<?php endif;?>
		<?php if($canList):?>
			<?php echo $this->getChildHtml('shipping')?>
			<?php if($item->getMeliId()) echo $this->getChildHtml('store')?>
		<?php endif;?>
		<?php if($canList && (!$item->getMeliId())):?>
			<table cellspacing="0" class="form-list" id="table_mercadolibre_publish">
			<tbody>
				<tr>
			    <td class="label"><label for="publish"><?php echo $_helper->__('Publish') ?></label></td>
			    <td class="value"><button type="button" onclick="publish();return false;"><?php echo $_helper->__('Publish') ?></button></td>	
			    <td class="scope-label"><span class="nobr"></span></td>    			
				</tr>
			</tbody>
			</table>
		<?php endif;?>
		<?php if($canList && $item->getMeliId()):?>
			<table cellspacing="0" class="form-list" id="table_mercadolibre_publish">
			<tbody>
				<tr>
			    <td class="label"><label for="sync"><?php echo $_helper->__('Sync') ?></label></td>
			    <td class="value"><button type="button" onclick="sync();return false;"><?php echo $_helper->__('Sync') ?></button></td>	
			    <td class="scope-label"><span class="nobr"></span></td>    			
				</tr>
			</tbody>
			</table>
		<?php endif;?>
	</div>
	        
	</div>
<script type="text/javascript">
	$$('li [title="Mercadolibre"]')[0].up().remove();
	function showPopup() {    		
	        var url = "<?php echo $url ?>";
	        var html_ = "<?php  $html_ ?>";     
	    	var oPopup = new Window({
		        id:"popup_window",
		        className: "magento",
		        title: "<?php echo htmlentities($title) ?>",		        
		        width: 600,
		        height: 550,
		        minimizable: false,
		        maximizable: false,        
		        hideEffect:Element.hide,
		        showEffect:Element.show,
		        opacity: 1,
		        showEffectOptions: {
            		duration: 0.4
        		},
		        hideEffectOptions:{
		            duration: 0.4
		        },
        		destroyOnClose: true
    		});
			oPopup.setAjaxContent(url);
    		oPopup.setZIndex(100);
    		oPopup.showCenter(true);
			}

		function closePopup(reload) {
		    Windows.close("popup_window");
		    if(reload)
		        location.reload();
		}

		function save(){
          var postUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/categories/saveProduct')?>';
          $j.ajax({
          method: "GET",
          url: postUrl,
          data: { meli_category_id: $j('#meli_cat_id').val(),
              pid: $j('#mage_prod_id').val(),
              category_name: $j('#sel_cat_id').text()
            }
      })
      .complete(function( msg ) {
          alert( msg.responseText);
          closePopup(true);
        });
        }
    function publish(){
    	<?php $k = Mage::getSingleton('core/session')->getFormKey(); ?>
    	var publishPostUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mercadolibre/publish')?>';
    	$j.ajax({
          method: "POST",
          url: publishPostUrl,
          data: { 
              pid: '<?php echo $_product->getId()?>',
              form_key:'<?php echo $k ?>',
              meli_data: jQuery("#product_info_tabs_mercadolibre_content :input").serialize()
            }
      })
      .complete(function( msg ) {
          var redirectUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/item/index')?>';
          if(msg.responseText == 'true'){
          	window.location.href =redirectUrl;
          }
          else{
          	alert(msg.responseText);
          }
        });
    }
    function sync(){
    	<?php $k = Mage::getSingleton('core/session')->getFormKey(); ?>
    	var publishPostUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/mercadolibre/sync')?>';
    	$j.ajax({
          method: "POST",
          url: publishPostUrl,
          data: { 
              pid: '<?php echo $_product->getId()?>',
              form_key:'<?php echo $k ?>',
              meli_data: jQuery("#product_info_tabs_mercadolibre_content :input").serialize()
            }
      })
      .complete(function( msg ) {
          var redirectUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/item/index')?>';
          if(msg.responseText == 'true'){
          	window.location.href =redirectUrl;
          }
          else{
          	alert(msg.responseText);
          }
        });
    }
</script>