<?php
/**
 * 
 * @category    Ulula
 * @package     Ulula_Mercadolibre
 * @copyright   Copyright (c) 2017 Ulula IT (http://ulula.net)
 * @author      Gaston De Marsico <gdemarsico@ulula.net>
 */
?>
<?php echo $this->escapeHtml($this->getMethod()->getTitle()) ?>
<?php $_helper = Mage::helper('ulula_mercadolibre'); ?>
<?php if($this->getInfo()->getAdditionalData()): ?>
    <?php if($this->getIssuer()): ?><br /><?php echo $_helper->__('Payed with: %s', $this->escapeHtml($this->getIssuer())) ?><?php endif; ?>
    <?php if($this->getStatus()): ?>
        <div>
            <?php echo Mage::helper('payment')->__('Status: %s', $this->getStatus()) ?>
                    </div>
    <?php endif; ?>
<?php endif; ?>