<?php
/**
 * 
 * @category    Ulula
 * @package     Ulula_Mercadolibre
 * @copyright   Copyright (c) 2017 Ulula IT (http://ulula.net)
 * @author      Gaston De Marsico <gdemarsico@ulula.net>
 */
?>
<hr/>
<br/>
<h4 class="icon-head head-shipping-method fieldset-legend"><?php echo $this->__('Shipping Options') ?></h4>
<table cellspacing="0" class="form-list" id="table_mercadolibre_publish">
	<tbody>
		<tr>
			<td class="label">
				<label for="local_pickup"><?php echo $this->__('Local Pickup') ?></label>
			</td>
			<td class="value">
				<?php echo $this->getLocalPickUpInput() ?><br>
			</td>	
			<td class="scope-label"><span class="nobr"></span></td>    			
		</tr>
		<tr>
			<td class="label">
				<label for="shipping_mode"><?php echo $this->__('Mercado Envíos') ?></label>
			</td>
			<td class="value">
				<?php echo $this->getShippingModeInput() ?><br>
			</td>	
			<td class="scope-label"><span class="nobr"></span></td>    			
		</tr>
		<tr>
			<td class="label">
				<label for="shipping_mode"><?php echo $this->__('Custom Shipping') ?></label>
			</td>
			<td class="value">
				<?php echo $this->getShippingModeInput('custom') ?><br>
			</td>	
			<td class="scope-label"><span class="nobr"></span></td>    			
		</tr>
		<tr class="meli-custom-shipping">
			<td class="label">
				<label for=""><?php echo $this->__('Custom Shippings') ?></label>
			</td>
			<td class="label">
				<?php echo $this->__('Description') ?><br>
			</td>	
			<td class="label"><?php echo $this->__('Cost') ?><br></span></td>    			
		</tr>
			<?php echo $this->getCustomShippingInput();?>
		
	</tbody>
</table>
<script type="text/javascript">
	jQuery(document).ready(function(){
		var shipping_mode = jQuery('input[name=\'product[meli_ship_mode]\']:checked').attr('data');
		showCustomShipping(shipping_mode == 'custom');
	});

	function showCustomShipping(show){
		if(show){
			jQuery('.meli-custom-shipping').show();
		}
		else{
			jQuery('.meli-custom-shipping').hide();
		}
	}
</script>