<!--
/**
 * 
 * @category    Ulula
 * @package     Ulula_Mercadolibre
 * @copyright   Copyright (c) 2017 Ulula IT (http://ulula.net)
 * @author    	Gaston De Marsico <gdemarsico@ulula.net>
 */
-->
<?php 
  $mageCatId = false;
  $productId = false;
	$meliCategory = $this->getMeliCategory();
  if ($this->getCategory()){
	 $mageCatId = $this->getCategory()->getId();
   $catDesc = ($meliCategory->getId())?$meliCategory->getCategoryName():$this->__('Select a category to map');
  }
  else{
    $productId = $this->getPid();
    $catDesc = $this->__('Select a category to map');
  }
	
	if($mageCatId || $productId):
?>
<h3><?php echo $this->__('Map a Mercadolibre category')?></h3>
<div>
    <span style="padding-right:20px"><?php echo $this->__('Category:')?></span><span id="sel_cat_id"><?php echo $catDesc?></span>
    	<input type="hidden" name="category_id" id="meli_cat_id">
      <?php if($mageCatId):?>
    	 <input type="hidden" name="mage_category_id" id="mage_cat_id" value="<?php echo $mageCatId ?>">
      <?php else:?>
        <input type="hidden" name="mage_product_id" id="mage_prod_id" value="<?php echo $productId ?>">
      <?php endif;?>
		</div>        

		<div id="jstree_categories"></div> 
<!-- meli Script-->
<script type="text/javascript">//<![CDATA[
    $j(document).ready
        (function () { $j('#jstree_categories').jstree({
                "core" : {
                    "animation" : 0,
                    "themes" : { "dots" : true },
                    "data" : {
                        "url" : "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/categories/getAjaxCategories')?>",
                        "data" : function (node) {
                            return { "id" : node.id };
                        }
                    },
                },
            }); 
            });
            
            
            $j('#jstree_categories').on("changed.jstree", function (e, data) {
              selected_category = data.selected.toString();  
              selected_category_name = jQuery('#jstree_categories').jstree('get_text', selected_category);
              if(jQuery('#jstree_categories').jstree().is_leaf(data.node)){
              	var id_node = data.node.id+'_anchor';
              	$j('.btn-'+id_node).remove();
              	$j('#'+id_node).parent().append(getButton(id_node));
              }
              else{
              	$j(data.event.target).prev().click(); 
              }
              var path = data.instance.get_path(data.node,' -> ');
              $j('#meli_cat_id').val(selected_category);
              $j('#sel_cat_id').html(path); 

         			
        });

         	$j('#jstree_categories').on("load_node.jstree", function (e, data) {
         		var id_node = data.node.id+'_anchor';
         		if(jQuery('#jstree_categories').jstree().is_leaf(data.node)){
         			$j('.btn-'+id_node).remove();
         			$j('#'+id_node).parent().append(getButton(id_node));
         		}
         	});

        function getButton(id_node){
        	return '<span class="btn-'+id_node+'" style="padding: 10px;"><button onclick="save();return false;"><?php echo $this->__('Assign category')?></button></span>';
        }

        function save(){
        	var postUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/categories/saveCategory')?>';
        	$j.ajax({
				method: "GET",
			  	url: postUrl,
			  	data: { meli_category_id: $j('#meli_cat_id').val(),
			  			mage_category_id: $j('#mage_cat_id').val(),
			  			category_name: $j('#sel_cat_id').text()
			  		}
			})
			.complete(function( msg ) {
			    alert( msg.responseText);
			  });
        }
        //]]>
</script>
<?php endif; ?>